<h1>Company category list</h1>
<div class="list">
    <% _.each( re['data'], function(c) { %>
    <div class="row" rid="<%= c['id'] %>">
        <span class="code"><%= c['code'] %></span>
        <span class="value"><%= c['value'] %></span>
        <span class="edit-button">Edit</span>
        <span class="button-delete"
              route="company.Controller.categoryDelete&id=<%= c['id'] %>"
              callback="reloadCategoryList"
                >Delete</span>
    </div>
    <% }); %>
</div>
