body {
}
.page {
    position:relative;
    padding: 0 8px;
}
.page header {
    position:fixed;
    z-index: 99999;
    top:0;
    left:0;
    right:0;
    height:50px;
    background-color: #dfdfdf;
}
.page nav.panel-menu {
    position:fixed;
    z-index: 100001;
    top:50px;
    right:0;
    width:200px;
}
.page section.content {
    margin-top:50px;
    margin-bottom:50px;
}

.page footer {
    position:fixed;
    z-index: 99999;
    left:0;
    right:0;
    bottom:0;
    height:50px;
    background-color: #dfdfdf;
}