
/** MODULE Header & Footer */
.page header,
.page footer {
    background-color: black;
}
/* EO */


/** MODULE Button */
.button {
    display: inline-block;
    padding: .2em .4em;
    background-color:blue;
    color:white;
    border-radius: 3px;
}
/* EO Button */
