.categories ul {
    list-style: none;
    margin:0;
    padding:0;
    overflow: auto;
    font-size:.9em;
}
.categories ul li {
    float:left;
    padding:.1em;
    box-sizing: border-box;
    width:25%;
    cursor:pointer;
}

.categories ul div {
    position:relative;
    background: #fff;
    padding:.4em;
    text-align:center;
}
.categories ul img {
    display:block;
    margin:0 auto;
    width:66px;
    height:auto;
}

.categories ul .text {
    display:block;
    position:absolute;
    top:52px;
    left:0;
    right:0;
}
